/* ----------------------------Generelle indstillinger----------------------------*/


































































































/* ----------------------------Generelle indstillinger SLUT----------------------------*/

/* ----------------------------Index indstillinger ----------------------------*/

































































































/* ----------------------------Index indstillinger SLUT----------------------------*/


/* ----------------------------Om indstillinger ----------------------------*/

#HTMLom h1 {
    font-size: 3rem;
    background-color: red;
}































































































/* ----------------------------Om indstillinger SLUT----------------------------*/


/* ----------------------------Kontakt indstillinger ----------------------------*/




#kontakt_html h1 {
    font-size: 3rem;
    background-color: cornflowerblue;

}





























































































/* ----------------------------Kontakt indstillinger SLUT----------------------------*/

/* ----------------------------Aabningstider indstillinger ----------------------------*/

































































































/* ----------------------------Aabningstider indstillinger SLUT----------------------------*/
