/* ----------------------------Generelle indstillinger----------------------------*/

p {
    font-family: "Times New Roman", serif;
    font-size: 1.5rem;
}







#HTMLindex h1 {
    font-size: 4rem;
}

.hidden {
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform.3s;
    transform-origin: top left;
}



@media only screen and (min-width: 600px) {}























































































/* ----------------------------Generelle indstillinger SLUT----------------------------*/

/* ----------------------------Index indstillinger ----------------------------*/

#HTMLkontakt h1 {
    color: blue;
}

/*
#HTMLindex p {
    font-family: "Times New Roman", serif;
    font-size: 1.5rem;
}
*/































































































/* ----------------------------Index indstillinger SLUT----------------------------*/


/* ----------------------------Om indstillinger ----------------------------*/

#HTMLom h1 {
    font-size: 3rem;
    background-color: red;
}































































































/* ----------------------------Om indstillinger SLUT----------------------------*/


/* ----------------------------Kontakt indstillinger ----------------------------*/




#HTMLkontakt h1 {
    font-size: 3rem;
    color: blue;
}





























































































/* ----------------------------Kontakt indstillinger SLUT----------------------------*/

/* ----------------------------Aabningstider indstillinger ----------------------------*/

#aabningstider_html h1 {

    color: aqua;
    font-size: 5vw;


}

#aabningstider_html p {

    color: red;
    font-size: 2vw;


}































































































/* ----------------------------Aabningstider indstillinger SLUT----------------------------*/
