/* ----------------------------Generelle indstillinger----------------------------*/


































































































/* ----------------------------Generelle indstillinger SLUT----------------------------*/

/* ----------------------------Index indstillinger ----------------------------*/

































































































/* ----------------------------Index indstillinger SLUT----------------------------*/


/* ----------------------------Om indstillinger ----------------------------*/

































































































/* ----------------------------Om indstillinger SLUT----------------------------*/


/* ----------------------------Kontakt indstillinger ----------------------------*/

































































































/* ----------------------------Kontakt indstillinger SLUT----------------------------*/

/* ----------------------------Aabningstider indstillinger ----------------------------*/

#aabningstider_html h1 {

    color: aqua;
    font-size: 5vw;


}

#aabningstider_html p {

    color: red;
    font-size: 2vw;


}































































































/* ----------------------------Aabningstider indstillinger SLUT----------------------------*/
